<!DOCTYPE html>
<html>
  <head>
    <title>Job Application Form</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        background-color:  	rgb(46, 139, 87);
      }
      .container {
        max-width: 1170px;
        margin: 0px auto;
      }

      .container h4{
        text-align: center;
        font-size: 30px;
        text-decoration: underline;
      }

      #register{
          text-decoration: none;
          padding: 3px;
          background-color: aliceblue;
          border: 2px solid black;
      }

      .wrapper{
        margin-top: 50px;
        overflow-x: scroll;
        padding: 20px;
        background-color: rgb(220, 228, 226);
        margin-bottom: 40px;
      }

      #main{
        background-color: rgb(220, 228, 226);
        padding:5px;
        border: 2px solid black;
      }

      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .col {
        width: calc(100% / 3);
      }
      .page {
        display: none;
      }
      table {
        border: 2px solid black;
        border-collapse: collapse;
      }
      th {
        padding: 8px;
        border: 3px solid black;
        background-color: aquamarine;
      }
      tr,
      td {
        padding: 8px;
        border: 3px solid black;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <h4>List Of All Employees</h4>
      <center><a id="register" href="/api/user/jobForm/register">Create New Employee</a></center>
      <div class="wrapper">
        <div class="row">
          <div class="col">
            <table>
              <tr>
                <% rows.forEach((e) => { %>
                <th><%= e %></th>
                <% }) %>
                <th>Update</th>
              </tr>
        
              <% employee.forEach((e) => { %>
              <tr>
                <td><%= e.id %></td>
                <td><%= e.firstname %></td>
                <td><%= e.lastname %></td>
                <td><%= e.email %></td>
                <td><%= e.mobileno %></td>
                <td><% if(e.gender == 1) { %> Male <% } else { %> Female <% } %></td>
                <td><%= (e.dob).toLocaleString() %></td>
                <td><%= e.address %></td>
                <td><%= e.city %></td>
                <td><%= e.state %></td>
                <td><%= e.zipcode %></td>
                <td><%= e.relation_status %></td>
                <td><%= (e.created_date).toLocaleString() %></td>
                <td>
                  <form action="/api/user/jobForm/updatePage" method="Post">
                    <input type="hidden" name="id" value="<%= e.id %>" />
                    <input type="submit" name="button" value="Update" />
                  </form>
                </td>
              </tr>
              <% }) %>
            </table>
          </div>
        </div>
      </div>
      <center><a id="main" href="/api/user/home">Click Here To Redirect Home Page</a></center>
    </div>

    
  </body>
</html>
