<!DOCTYPE html>
<html>
  <head>
    <title>Job Application Form</title>
    <style>
      * {
        box-sizing: border-box;
      }
      body {
        margin: 0;
        padding: 0;
        background-color:  	rgb(46, 139, 87);
      }
      .container {
        max-width: 1170px;
        margin: 0px auto;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
      }
      .col {
        width: calc(100% / 3);
      }
      table {
        background-color: rgb(220, 228, 226);
      }
      th {
        padding: 8px;
        background-color: aquamarine;
      }
      tr,
      td {
        padding: 8px;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div id="change">
          <form
            name="form"
            action="/api/user/jobForm/crud/updateEmployee"
            method="post"
            onsubmit=""
          >
            <div class="col page" id="basic_detail">
              <h3>Basic Details</h3>
              <div class="form-container">
                <table>
                  <div class="form-input-handler">
                    <tr>
                      <td>
                        <label for="firstname">FirstName:- </label>
                      </td>
                      <td>
                        <input type="hidden" name="id" value="<%= id %>">
                        <input type="text" name="firstname" value="<%= employee[0].firstname %>" id="firstname" />
                        <span id="firstname_error" class="error"></span>
                      </td>
                      <td>
                        <label for="lastname">LastName:- </label>
                      </td>
                      <td>
                        <input type="text" name="lastname" id="lastname" value="<%= employee[0].lastname %>" />
                        <span id="lastname_error" class="error"></span>
                      </td>
                    </tr>
                  </div>

                  <div class="form-input-handler">
                    <tr>
                      <td>
                        <label for="email">Email:- </label>
                      </td>
                      <td>
                        <input type="text" name="email" id="email" value="<%= employee[0].email %>" />
                        <span id="email_error" class="error"></span>
                      </td>
                      <td>
                        <label for="mobileno">mobileno:- </label>
                      </td>
                      <td>
                        <input type="text" name="mobileno" id="mobileno" value="<%= employee[0].mobileno %>" />
                        <span id="mobile_no_error" class="error"></span>
                      </td>
                    </tr>
                  </div>

                  <div class="form-input-handler">
                    <tr>
                      <td>
                        <label for="gender">Gender:- </label>
                      </td>
                      <td>
                        <label for="male">Male</label>
                        <input type="radio" name="gender" value="1" id="male" <% if(employee[0].gender== "1") { %> checked
                        = "checked" <% } %> >

                            <lable for="female">Female</lable>
                            <input type="radio" name="gender" value="0" id="female" <% if(employee[0].gender=="0") { %>
                            checked = "checked" <% } %> >

                                <span id="gender_error" class="error"></span>
                    </td>
                      <td>
                        <label for="dob">Date of Birth:-</label>
                      </td>
                      <td>
                        <input type="text" name="dob" id="dob" value="<%= employee[0].dob %>" />
                        <span id="dob_error" class="error"></span>
                      </td>
                    </tr>
                  </div>

                  <div class="form-input-handler">
                    <tr>
                      <td>
                        <label for="address">Address:-</label>
                      </td>
                      <td>
                        <textarea name="address" id="address"><%= employee[0].address %></textarea>
                        <span id="address_error" class="error"></span>
                      </td>
                      <td>
                        <label for="state">State:-</label>
                      </td>
                      <td>
                        <select name="state" id="state" required>
                            <option value=""
                            <% if(employee[0].state === '') { %> selected <% } %>
                            >Select Any State</option>
                            <% states.forEach((e)=> { %>
                            <option
                              value="<%= e.state_name %>"
                              <% if(employee[0].state === "e.state_name") { %> selected <% } %>
                              onclick="loadcities('<%= e.id %>')"
                              >
                              <%=e.state_name %>
                            </option>
                            <% }) %>
                          </select>
                        <span id="state_error" class="error"></span>
                      </td>
                    </tr>
                  </div>

                  <div class="form-input-handler">
                    <tr>
                      <td>
                        <label for="city">City:-</label>
                      </td>
                      <td>
                        <select name="city" id="city">
                          <option value="">Select Any city</option>
                        </select>
                        <span id="city_error" class="error"></span>
                      </td>
                      <td>
                        <label for="zipcode">Pincode:-</label>
                      </td>
                      <td>
                        <input type="text" name="zipcode" id="zipcode" value="<%= employee[0].zipcode %>" />
                        <span id="zipcode_error" class="error"></span>
                      </td>
                    </tr>
                  </div>

                  <div class="form-input-handler">
                    <tr>
                      <td>
                        <label for="relation">Relationship status:-</label>
                      </td>
                      <td>
                        <select name="relation" id="relation">
                            <option>Select Any Relation</option>
                            <% relation.forEach((e)=> { %>
                            <option value="<%= e %>" <% if(employee[0].relation === 'e') { %> selected <% } %> > <%=e %></option>
                            <% }) %>
                          </select>
                        <span id="relation_error" class="error"></span>
                      </td>
                    </tr>
                  </div>
                </table>
              </div>
            </div>

            <div class="col page" id="education_details()">
                <h3><u>Educational Details</u></h3>
                <span id="education_error" class="error"></span>
                <div class="fieldbtn">
                  <button type="button" onclick="changeeducation(1)">Add</button>
                  <button type="button" onclick="changeeducation(-1)">
                    Remove
                  </button>
                </div>
                <div class="education">
                  <span id="education_error" class="error"></span>
                  <table>
                      <% education.forEach((e)=> { %>
                          <tr>
                              <td>
                                  SSC result :-
                              </td>
                              <td colspan="5">
                                  <select name="degree[]" id="<%= e.degree %>">
                                      <option value="" <% if(e.degree==='' ) { %> selected <% } %> >Select Degree</option>
                                      <option value="ssc" <% if(e.degree==='ssc' ) { %> selected <% } %> >SSC</option>
                                      <option value="hsc" <% if(e.degree==='hsc' ) { %> selected <% } %> >HSC</option>
                                      <option value="diploma" <% if(e.degree==='Diploma' || e.degree==='diploma' ) { %> selected <% }
                                              %> >Diploma</option>
                                      <option value="bachelor" <% if(e.degree==='bachelor' ) { %> selected <% } %> >Bachelor</option>
                                  </select>
                              </td>
                          </tr>
                          <tr>
                              <td>
                                  <label>Name of board:-</label>
                              </td>
                              <td>
                                  <input type="text" name="board[]" value="<%= e.board %>" placeholder="Enter Board Name" id="board1">
                              </td>
                              <td>
                                  <label>Passing Year:-</label>
                              </td>
                              <td>
                                  <input type="text" name="year[]" value="<%= (e.year).toLocaleString()  %>"
                                      placeholder="example:- 2018" id="year1">
                              </td>
                              <td>
                                  <label>Percentage</label>
                              </td>
                              <td>
                                  <input type="text" name="percentage[]" placeholder="63%" value="<%= e.percentage %>"
                                      id="percentage1">
                              </td>
                              <td>
                                  <span id="s1_error" class="error"></span>
                              </td>
                          </tr>
                          <% }) %>
                  </table>
                </div>
                <div class="cloneducation"></div>
              </div>

              <div class="col page">
                <h3><u>language details</u></h3>
                <span id="language_error" class="error"></span>
                <table>
                  <%let index=0; lang.forEach((e,i)=> { %>
                      <tr>
                          <td>
          
                              <input type="checkbox" name="lang[]" value="<%= e.toLowerCase() %>" id="<%= e %>" <%
                                  if(lang_checked[i]===1) { %>
                              checked
                              <% } %>
                          </td>
                          <td>
                              <label for="<%=e %>">
                                  <%= e %>
                              </label>
                          </td>
                          <%let j=0; lang_capability.forEach((l)=> { %>
                              <td>
                                  <input type="checkbox" name="<%= e %>" value="<%= l.toLowerCase() %>" id="<%= e.concat(l) %>" <%
                                      if(lang_checked[i]===1 && answer_langcapability[index][j]===1) { %>
          
                                  checked
                                  <% } j++;%>
                                      >
                              </td>
                              <td>
                                  <label for="<%=e.concat(l) %>">
                                      <%= l %>
                                  </label>
                              </td>
                              <% }) %>
                                  <% if(lang_checked[i]===1) { index++; } %>
                                      <td>
                                          <span id="<%= e.concat('_error') %>" class="error"></span>
                                      </td>
                      </tr>
                      <% }) %>
          
              </table>
                <br />
  
                <h3>Tech Ability</h3>
                <table>
  
                  <%let tech_Cap=0; tech.forEach((e,i)=> { %>
                      <tr>
                          <td>
                              <input type="checkbox" name="tech[]" value="<%= e.toLowerCase() %>" id="<%= e %>" <%
                                  if(tech_checked[i]===1) { %>
                              checked
                              <% } %>
                                  >
                          </td>
          
                          <td>
                              <label for="<%= e %>">
                                  <%= e %>
                              </label>
                          </td>
                          <% tech_capability.forEach((l)=> { %>
                              <td>
                                  <input type="radio" name="<%= (e.concat(1)).toLowerCase() %>" value="<%= l %>"
                                      id="<%= e.concat(l) %>" <% if(tech_cap_checked[i]===l && tech_checked[i]===1){ %>
                                  checked
                                  <%} %>
                                      >
                              </td>
                              <td>
                                  <label for="<%= (e.concat(l)).toLowerCase() %>">
                                      <%= l %>
                                  </label>
                              </td>
                              <% }) %>
                      </tr>
                      <% }) %>
          
              </table>
              </div>

              <div class="col page">
                <h3><u>Work Experience</u></h3>
                <div class="fieldbtn">
                  <button type="button" onclick="changerows(1)">Add</button>
                  <button type="button" onclick="changerows(-1)">Remove</button>
                </div>
                <span id="work_error" class="error"></span>
                <div class="workexperience">
                  <table>
                  <% work.forEach((e) => { %> 
                      <div class="workexperience">
                        <tr>
                          <td>
                            <label>Company Name:-</label>
                          </td>
                          <td>
                            <input type="text" name="company_name[]" value="<%= e.company_name %>" />
                            <span id="company_name" class="error"></span>
                          </td>
                          <td>
                            <label>Designation:-</label>
                          </td>
                          <td>
                            <input type="text" name="designation[]" value="<%= e.designation %>" />
                            <span id="designation" class="error"></span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <label>Start Date:-</label>
                          </td>
                          <td>
                            <input type="text" name="start_date[]" value="<%= (e.startdate).toLocaleString() %>" />
                            <span id="start_date" class="error"></span>
                          </td>
                          <td>
                            <label>End Date:-</label>
                          </td>
                          <td>
                            <input type="text" name="end_date[]" value="<%= (e.enddate).toLocaleString() %>" />
                            <span id="end_date" class="error"></span>
                          </td>
                        </tr>
                      </div>
                      <% }) %>
                    </table>
                </div>
  
                <div class="workexpclone"></div>
              </div>

              <div class="col page">
                <h3><u>Refrence Contact</u></h3>
                <span id="refrence_error" class="error"></span>
                <table>
                  <tr>
                    <td>
                      <label>Name:-</label>
                    </td>
                    <td>
                      <input type="text" name="name" value="<%=refer[0].refer_name  %>" />
                    </td>
                    <td>
                      <label>Contact No:-</label>
                    </td>
                    <td>
                      <input type="text" name="contactno" value="<%= refer[0].refer_contact %>" />
                    </td>
                    <td>
                      <label>Relation:-</label>
                    </td>
                    <td>
                      <input type="text" name="relationship" value="<%= refer[0].refer_relation %>" />
                    </td>
                  </tr>
                </table>
              </div>

              <div class="col page">
                <h3><u>Preferances</u></h3>
                <span id="preferences_error" class="error"></span>
                <table>
                  <tr>
                    <td>
                      <label>Preferd location:-</label>
                    </td>
                    <td>
                      <select name="location" multiple>
                          <option value="" disabled="disabled">Select Three locations</option>
                          <option value="Ahmedabad" 
                          <% if(prefer[0].location == 'Ahmedabad' || prefer[1].location == 'Ahmedabad' || prefer[2].location == 'Ahmedabad') { %> 
                          selected    
                          <% } %> >Ahmedabad</option>
                          <option value="Baroda" 
                          <% if(prefer[0].location == 'Baroda' || prefer[1].location == 'Baroda' || prefer[2].location == 'Baroda') { %> 
                              selected    
                              <% } %> >Baroda</option>
                          <option value="Rajkot" 
                          <% if(prefer[0].location == 'Rajkot' || prefer[1].location == 'Rajkot' || prefer[2].location == 'Rajkot') { %> 
                              selected    
                              <% } %>>Rajkot</option>
                          <option value="Surat" 
                          <% if(prefer[0].location == 'Surat' || prefer[1].location == 'Surat' || prefer[2].location == 'Surat' ){ %> 
                              selected    
                              <% } %> >Surat</option>
                      </select>
                      <span id="location" class="error"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <label>Notice Period:-</label>
                    </td>
                    <td>
                      <input type="text" name="noticeperiod" value="<%= prefer[0].noticeperiod %>" size="10" />
                      <span id="noticeperiod" class="error"></span>
                    </td>
                    <td>
                      <label>Expacted CTC:-</label>
                    </td>
                    <td>
                      <input type="text" name="expacted_ctc" value="<%= prefer[0].expected_ctc %>" size="10" />
                      <span id="expacted_ctc" class="error"></span>
                    </td>
                    <td>
                      <label>Current CTC:-</label>
                    </td>
                    <td>
                      <input type="text" name="current_ctc" value="<%= prefer[0].current_ctc %>" size="10" />
                      <span id="current_ctc" class="error"></span>
                    </td>
                  </tr>
  
                  <tr>
                    <td>
                      <label>Department:-</label>
                    </td>
                    <td>
                      <select name="department">
                          <option value="" <% if(prefer[0].department === ''){ %> selected <% } %> >select department</option>
                          <option value="developer" <% if(prefer[0].department === 'Developer'){ %> selected <% } %> >Developer</option>
                          <option value="designer" <% if(prefer[0].department === 'Designer'){ %> selected <% } %> >Designer</option>
                          <option value="marketing" <% if(prefer[0].department === 'Marketing'){ %> selected <% } %> >Marketing</option>
                      </select>
                      <span id="department" class="error"></span>
                    </td>
                  </tr>
                </table>
              </div>
            <input type="submit" type="submit"  value="submit" style="margin-left: 65rem; padding: 0.5rem;">
            <input type="reset" value="reset" style="padding: 0.5rem;">

          </form>
        </div>
      </div>
    </div>

    <script src="/JS/Employee/validation.js"></script>
    <script src="/JS/Employee/scripts/basic_details_fetch.js"></script>
    <script src="/JS/Employee/scripts/education_details_validation.js"></script>
    <script src="/JS/Employee/scripts/work_details_validation.js"></script>
  </body>
</html>
