<!DOCTYPE html>
<html>

<head>
    <title>
        Grid Task
    </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            background-color:  	rgb(46, 139, 87);
        }

        .container {
            max-width: 1170px;
            margin: 0 auto;
            padding: 10px 20px;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
        }

        .col {
            margin-top: 30px;
            width: calc(100%/1);
        }

        table {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th {
            padding: 8px;
            border: 3px solid black;
            background-color: rgb(56, 207, 157);
        }

        tr,
        td {
            background-color: rgb(200, 223, 217);
            padding: 8px;
            border: 3px solid black;
        }

        .filter {
            margin-bottom: 30px;
            float: right;
        }

        .filter select {
            padding: 10px 40px;
        }

        .pagging {
            padding-top: 20px;
            margin: 0 auto;
        }

        .btn-container {
            align-items: center;
            margin: 10px;
            display: inline-flex;
        }

        .btn-container button {
            padding: 10px 10px;
            margin: 10px;
        }

        .month-header {
            display: flex;
        }

        .arrows {
            display: inline-grid;
        }

        h1,
        h2 {
            text-align: center;
        }

        h2 {
            text-decoration: underline;
        }

        .search {
            margin-bottom: 10px;
        }

        #main {
            background-color: rgb(220, 228, 226);
            padding: 5px;
        }

    </style>
</head>

<body>
    <h1>Nitin Mujpara 24DEV084 Grid Filter Task 04/03/2024</h1>
    <!-- <h2>Dynamically Implemented Grid</h2> -->

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="search">
                    <form action="/api/user/pagging/searching/filter" method="Post">
                        <input type="text" id="search" name="sid" placeholder="Enter Student Id" tabindex="0" />
                        <input type="submit" value="Go" tabindex="1">
                    </form><br>
                    <button onclick="showform()">ShowMore</button>
                </div>
                <div id="optimalsearch" class="optimalsearch" style="visibility: hidden;">
                    <form action="/api/user/pagging/searching/optimalFilter" method="get">
                        <input type="text" name="name" placeholder="Enter Student Name" tabindex="10" />
                        <input type="text" name="surname" placeholder="Enter Student Surname" tabindex="20" />
                        <input type="text" name="presentday" placeholder="Enter Present Days" tabindex="30" />
                        <input type="text" name="percentage" placeholder="Enter Percentage" tabindex="40" />
                        <select name="lessornot" tabindex="50">
                            <option value=">">greater than</option>
                            <option value="<">less than</option>
                        </select>
                        <select name="condition" tabindex="60">
                            <option value="and">AND</option>
                            <option value="or">OR</option>
                        </select>
                        <input type="submit" value="Go" tabindex="70">
                    </form>
                </div><br>
                <p id="order" style="display: none;">
                    <%= order %>
                </p>
                <p id="rows" style="display: none;">
                    <%= rows %>
                </p>
                <p id="column" style="display: none;">
                    <%= column %>
                </p>
                <p id="date" style="display: none;">
                    <%= date %>
                </p>

                <p id="total" style="display: none;">
                    <%= maxpage %>
                </p>

                <p id="sname" style="display: none;">
                    <%= name %>
                </p>
                <p id="surname" style="display: none;">
                    <%= surname %>
                </p>
                <p id="presentday" style="display: none;">
                    <%= presentday %>
                </p>
                <p id="percentage" style="display: none;">
                    <%= percentage %>
                </p>
                <p id="lessornot" style="display: none;">
                    <%= lessornot %>
                </p>
                <p id="condition" style="display: none;">
                    <%= condition %>
                </p>
                <% if(rows.length> 0) { %>
                    <table>
                        <tr>
                            <% for(let i=0; i < rows.length; i++ ) { %>
                                <th>
                                    <%= rows[i] %>
                                </th>
                                <% } %>
                        </tr>

                        <% for(let i=0; i< student.length; i++) { %>
                            <tr>
                                <% for(let j=0; j < rows.length; j++) { %>
                                    <td>
                                        <%= student[i][rows[j]] %>
                                    </td>
                                    <% } %>
                            </tr>
                            <% } %>
                    </table>

                    <% } else { %>

                        <h3>No Data Found </h3>

                        <% } %>
                            <div class="row">
                                <div class="pagging">
                                    <div>
                                        <p id="query" style="display: none;">
                                            <%= %>
                                        </p>
                                        <!-- <p id="records" ><%=  %></p> Total Records... -->
                                    </div>

                                    <div class="btn-container">
                                        <button id="extream_left" onclick="onfirst()" <% if(page==1) { %> disabled<% }
                                                %>> << </button>
                                                    <button id="left-btn" onclick="changepage(-1)" <% if(page==1) { %>
                                                        disabled<% } %>> < </button>
                                                                Page <p id="pagecount">
                                                                    <%= page %>
                                                                </p>
                                                                <button id="right-btn" onclick="changepage(1)" <%
                                                                    if(page==maxpage) { %> disabled<% } %>> > </button>
                                                                <button id="extream_right" onclick="onlast()" <%
                                                                    if(page==maxpage) { %> disabled<% } %>> >> </button>
                                    </div>
                                </div>
                            </div>


            </div>
        </div>

        <center><a id="main" href="/api/user/home"
            >Click Here To Redirect Home Page</a></center>

    </div>


    <script>

        let currentpage = 1;
        let minpage = 1;
        const maxpage = Number(document.getElementById('total').innerHTML);


        function changepage(val) {
            currentpage = Number(document.getElementById("pagecount").innerHTML);
            // console.log(typeof(currentpage));
            currentpage = currentpage + val;

            if (currentpage > maxpage || currentpage < 1) {

                return 0;
            }

            let name;
            let surname;

            if (name) {
                name = document.getElementById("sname").innerHTML;
            }

            if (surname) {
                surname = document.getElementById("surname").innerHTML;
            }

            let presentday = document.getElementById("presentday").innerHTML;
            let percentage = document.getElementById("percentage").innerHTML;
            let lessornot = document.getElementById("lessornot").innerHTML;
            let condition = document.getElementById("condition").innerHTML;

            document.getElementById("pagecount").innerHTML = currentpage;

            if (name && surname) {
                window.location = `http://localhost:3000/optimalsearch?page=${currentpage}&name=${name}&surname=${surname}&presentday=${presentday}&percentage=${percentage}&lessornot=${lessornot}&condition=${condition}`
            } else if (!name && !surname) {
                window.location = `http://localhost:3000/optimalsearch?page=${currentpage}&presentday=${presentday}&percentage=${percentage}&lessornot=${lessornot}&condition=${condition}`
            } else if (!surname) {
                window.location = `http://localhost:3000/optimalsearch?page=${currentpage}&name=${name}&presentday=${presentday}&percentage=${percentage}&lessornot=${lessornot}&condition=${condition}`
            } else {
                window.location = `http://localhost:3000/optimalsearch?page=${currentpage}&surname=${surname}&presentday=${presentday}&percentage=${percentage}&lessornot=${lessornot}&condition=${condition}`
            }


        }

        function onfirst() {
            document.getElementById('pagecount').innerHTML = 1;
            currentpage = Number(document.getElementById("pagecount").innerHTML);

            let name = document.getElementById("sname").innerHTML;
            let surname = document.getElementById("surname").innerHTML;
            let presentday = document.getElementById("presentday").innerHTML;
            let percentage = document.getElementById("percentage").innerHTML;
            let lessornot = document.getElementById("lessornot").innerHTML;
            let condition = document.getElementById("condition").innerHTML;

            window.location = `http://localhost:3000/optimalsearch?page=${currentpage}&name=${name}&surname=${surname}&presentday=${presentday}&percentage=${percentage}&lessornot=${lessornot}&condition=${condition}`

            // window.location = `http://localhost:3000/grid?page=${currentpage}&name=${name}&surname=${surname}&presentday=${presentday}&percentage=${percentage}&lessornot=${lessornot}&condition=${condition}`
        }

        function onlast() {

            currentpage = Number(document.getElementById('pagecount').innerHTML);
            let button1 = document.getElementById('extream_right');


            document.getElementById('pagecount').innerHTML = maxpage;

            let name = document.getElementById("sname").innerHTML;
            let surname = document.getElementById("surname").innerHTML;
            let presentday = document.getElementById("presentday").innerHTML;
            let percentage = document.getElementById("percentage").innerHTML;
            let lessornot = document.getElementById("lessornot").innerHTML;
            let condition = document.getElementById("condition").innerHTML;

            window.location = `http://localhost:3000/optimalsearch?page=${currentpage}&name=${name}&surname=${surname}&presentday=${presentday}&percentage=${percentage}&lessornot=${lessornot}&condition=${condition}`
        }


        function showform() {
            let hidden_div = document.getElementById('optimalsearch');
            hidden_div.style.visibility = "visible";
        }

    </script>

</body>

</html>